<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
        <title>Shoes</title>
    </head>
    <body>
        <div class="container">
            <h1>Shoes R Us</h1>
            {% block header %}
                <h2>Welcome to your friendly neighborhood shoe store database</h2>
                <h3>We have all of the local shoe stores listed here</h3>
                <h4>Click on a link to see the which brands the store carries! Oh, and add some if we forgot to :) </h4>
            {% endblock %}

            {% block content %}
            <br><br>
                {% if stores is not empty %}
                    {% for store in stores %}
                        <li><a href="/store/{{store.getId}}">{{store.getStoreName}}</a></li>
                    {% endfor %}
                {% endif %}

            {% endblock %}

            {% block controls %}
            <br><br>
                <h4>Help us keep our database up-to-date. Add a store if it isn't here.</h4>
                <form action="/" method="post">
                    <input type="text" name="new_store" required placeholder="New Store">
                    <button type="submit" name="button">Contibute</button>
                </form>
            {% endblock %}
        </div>
    </body>
</html>
